<p style="color: #00ccff;">{{title}}</p>

<h2>angular模板里绑定数据</h2>
<p>{{news}}</p>

<br>
<h2>angurlar模板里绑定属性</h2>
<div title="我是一个div">
  鼠标瞄上去看下
</div>
<div>{{message}}</div>

<div [title]="zhangsan">
  张三
</div>

<br>
<h2>angurlar模板里绑定html</h2>

<span [innerHTML]='content' class="red"></span>

<br>
<h2>angurlar模板里允许做简单的运算</h2>

1+2={{1+2}}

<br>
<h2>angurlar模板里循环数组</h2>
<ul>
  <li *ngFor="let item of arr">
    {{item}}
  </li>
</ul>

<ol>
  <li *ngFor="let item of car">
    <h3>{{item.title}}</h3>
    <ol>
      <li *ngFor="let car of item.list">
        {{car.kind}}---{{car.price}}
      </li>
    </ol>
  </li>
</ol>

<br>
<h2>angurlar模板里引入图片</h2>
<img src="assets/img/彩蛋.png" alt="彩蛋">

<br>
<h2>angurlar模板里显示数组索引</h2>
<ol>
  <li *ngFor="let item of list;let k = index">
  <span *ngIf="k==1" class="red"> {{k}}----{{item.title}} </span>
  <span *ngIf="k!=1"> {{k}}----{{item.title}}</span>
</li></ol>

<br>
<h2>angurlar模板里条件判断 ngif</h2>

<div *ngIf="true">
  <h4>ng的肯定</h4>
</div>

<div *ngIf="false">
  <h4>ng的否定</h4>
</div>

<br>
<h2>angurlar模板里管道</h2>
<p>
  {{today|date:'yyyy-MM-dd hh:mm:ss'}}
</p>

<br>
<h2>angurlar模板里执行事件</h2>

<button (click)="run()">执行事件</button>

<br>
<h2>双向数据绑定 MVVM</h2>

<input type="text" [(ngModel)]="keywords">
{{keywords}}

<br>
<button (click)="ckey()">改变keywords</button>

