<h2 style="text-align:center">TO LIST</h2>
<div class="todolist">
  <input type="text" [(ngModel)]="keywords" (keyup)="doadd($event)" />
  <br>
  <br>
  <hr />

  <h3>代办事项</h3>
  <ul>
    <li *ngFor="let item of todolist;let key=index" [hidden]="item.status ==1">
      <input type="checkbox" (change)='change()' [(ngModel)]="item.status"> {{item.title}} --------- <button (click)="deletelist(key)">x</button>
    </li>
  </ul>

  <h3>已完成事项</h3>
  <ul>
    <li *ngFor="let item of todolist;let key=index" [hidden]="item.status ==0">
      <input type="checkbox" (change)='change()' [(ngModel)]="item.status"> {{item.title}} --------- <button (click)="deletelist(key)">x</button>
    </li>
  </ul>
</div>
