<h2>人员信息登记表</h2>
<div class="people">
  <ul>
    <li>
      姓 名: <input type="text" id="username" [(ngModel)]="peopleInfo.username">
    </li>
    <li>
      性 别:
      <input type="radio" value="1" [(ngModel)]="peopleInfo.sex" id="sex1"><label for="sex1">男</label>
      &nbsp;&nbsp;
      <input type="radio" value="2" [(ngModel)]="peopleInfo.sex" id="sex2"><label for="sex2">女</label>
    </li>
    <li>
      城 市:
        <select name="city" id="city" [(ngModel)]="peopleInfo.city">
          <option value="{{item}}" *ngFor="let item of peopleInfo.cityselect">{{item}}</option>
        </select>
    </li>
    <li>
      爱 好:
      <span *ngFor="let item of peopleInfo.hobby;let key =index" >
        <input type="checkbox" [id]="'check'+key" [(ngModel)]="item.checked"><label [for]="'check'+key">{{item.title}}</label>
        &nbsp;&nbsp;
      </span>
    </li>
    <li>
      备 注:
      <textarea name="mark" id="" cols="30" rows="10"  [(ngModel)]="peopleInfo.mark"></textarea>
    </li>
  </ul>

  <br>
  <br>
  <pre>
    {{peopleInfo|json}}
  </pre>
</div>
